[Bb]uild/
/Integration/WiseUIAppUnity/*
/Integration/WiseUIServer/records/*
/Integration/WiseUIServer/output/*
/Integration/WiseUIServer/objtracker/Yolov8_extraobjshape.v2i.yolov8
/Integration/WiseUIServer/handtracker/mano_data/mano/models